<!DOCTYPE html>
<html>
  <head>
    <style>
      body{background: green; font-family: verdana; color: #fff; padding: 30px;}
      h1{font-size: 48px; text_transform: uppercase; letter-spacing: 2px; text-align: center;}
      p{font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
    <h1>HI from ME</h1>
    <p>Halo, saya Muhammad Iqbal Ardiansyah!</p>
    <p>Saya berasal dari Program Studi Teknologi Informasi angkatan 2014</p>
    <p>Universitas Gadjah Mada</p>
    <h2>MOTIVASI</h2>
    <p>Motivasi saya mengikuti workshop ini adalah untuk mengetahui bagaimana cara membuat aplikasi chatbot, menambah relasi dengan orang - orang yang lebih berpengalaman dan saya juga punya cukup pengalaman dalam menggunakan Node.js dan Express</p>
  </body>
</html>
